body {
    background-image: url(https://i.pinimg.com/originals/b3/7b/a2/b37ba2706030a7862df2b00645458c7f.gif) ;
    
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    background-image: url(https://i.pinimg.com/originals/b3/7b/a2/b37ba2706030a7862df2b00645458c7f.gif) ;
    
    background-attachment: fixed;
    background-size: cover;
}


img{
    border: 4px solid #8a51a8 ;
    border-radius: 10px;
}

h1{
    color: white;
}

h5{
    font-weight: 500;
    color: white;
}

span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #db99ff;
    
}


.row{
    display: flex;
}

.nv{
    

}

.nv:hover{
    background-color: black;
    color: #db99ff!important;
}


p{
    color: #ffffff;
    
}

label{
    color: white;
}

.btnp{
    background-color: #8a51a8;
    border: 1px solid #ffffff;
}

.btnp:hover{
    background-color: rgb(0, 0, 0);
    color: #dfa3ff;
    border: 2px solid #8a51a8;

}


.slug{
    font-weight: 800;
    text-decoration: underline;
    color: #e7baff;
}

p{
    font-style: italic;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 elementos por fila */
    grid-gap: 10px; /* Espacio entre las tarjetas */
  }
  
  .agendaCard {
    justify-content: center;
    width: 100%; /* Ancho completo de cada tarjeta */
    background-color: red;
    margin: 5px;
  }
  







.box{
    background-color: rgb(228, 147, 147);
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.box2{
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 45rem;
    height: 40rem;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.box2 input{
    width: 30rem;
}


.theContacts{
    display: flex;
    justify-content: space-between;
}

.margins{
    margin-right: 5rem;
    margin-bottom: 5rem;

}

.card{
    padding: 15px;
    border: 5px solid  #8a51a8;
    width: 20rem!important;
    height: 25rem;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );                          
}

.btnt{
    width: 90%;
}

